<div
  class="fixed top-4 left-1/2 -translate-x-1/2 z-50 flex items-center justify-between px-6 py-2 min-h-[56px] w-[95%] max-w-[1200px] bg-[#0a0a0a]/80 backdrop-blur-md border border-[#262626] rounded-full text-[#f5f5f5] shadow-2xl"
>
  <!-- Izquierda: Botón Menú + Título -->
  <div class="flex items-center gap-4 shrink-0">
    <h1 class="font-medium text-xs sm:text-sm tracking-tight truncate flex items-center gap-3">
      <img src="Escudo.png" alt="Logo UNSCH" class="w-15 h-15 object-contain" />
      MONITOREO CONTINUO WAYRA YAKU-UNIVERSIDAD NACIONAL SAN CRISTOBAL DE HUAMANGA
    </h1>
  </div>

  <div class="hidden md:flex flex-1 justify-center items-center gap-2 px-4">
    <mat-icon class="text-[#a3a3a3] !text-[18px] !w-[18px] !h-[18px]">cloud</mat-icon>
    <span class="font-mono text-sm text-[#f5f5f5]">24°C</span>
    <span class="text-xs text-[#737373] uppercase tracking-wider">Nublado</span>
  </div>

  <div class="flex items-center gap-3 shrink-0">
    <app-sampling-menu
      [intervaloMs]="intervaloMs"
      (intervaloChange)="intervaloCambiado.emit($event)"
    ></app-sampling-menu>
    <app-wifi-menu
      [conectado]="conectado"
      [ipEsp1]="ipEsp1"
      [ipEsp2]="ipEsp2"
      [ipEsp3]="ipEsp3"
      [fase1Activa]="fase1Activa"
      [fase2Activa]="fase2Activa"
      [fase3Activa]="fase3Activa"
      [apiUrl]="apiUrl"
      (ipSubmit)="ipGuardada.emit($event)"
      (apiSubmit)="apiSubmit.emit($event)"
    >
    </app-wifi-menu>

    <div class="w-[1px] h-6 bg-[#262626]"></div>

    <app-settings-menu [conectado]="conectado" (exportar)="exportar.emit()"></app-settings-menu>

    <div class="relative flex items-center">
      <button
        class="text-[#a3a3a3] hover:text-[#f5f5f5] transition-colors flex items-center justify-center w-8 h-8 rounded-full hover:bg-[#171717]"
      >
        <mat-icon class="!text-[20px] !w-[20px] !h-[20px]">notifications</mat-icon>
      </button>
      <span
        class="absolute top-0 right-0 flex items-center justify-center min-w-[14px] h-[14px] bg-[#f5f5f5] text-[#0a0a0a] font-mono text-[9px] font-bold rounded-full border border-[#000000]"
      >
        3
      </span>
    </div>
  </div>
</div>
